:root {
  --color-berri-red: #a20041;
  --color-berri-red-500: #a20041;
  --color-berri-pink: #e84981;
  --color-berri-pink-500: #e84981;
  --color-berri-yellow: #f9dd51;
  --color-berri-yellow-200: #fcf1b5;
  --color-berri-yellow-300: #fbe784;
  --color-berri-yellow-500: #f9dd51;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}
